.fighter-preview___root {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}

.fighter-preview___right {
    align-items: flex-end;
}

.fighter-preview___left {
    align-items: flex-start;
}

.fighter-preview___root.fighter-preview___right .fighter-preview___img {
    transform: scaleX(-1);
}

.fighter-preview___root .fighter-preview___img {
    height: 220px;
}

.fighter-preview___info {
    width: 100%;
    /*padding: 5px;*/
    border-radius: 5%;
    border: #2e240a 5px solid;
}

.fighter-preview___info h3 {
    background: #2e240a;
    margin: 0;
    padding: 5px;
    color: white;

}

.fighter-preview___info-table {
    width: 100%;
    padding: 10px;
    margin: 0;
    background: #ffdfa7;
}
